<!DOCTYPE html>
<html>
<head>
    <title>User Table</title>
    <style>
       body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #dcdcdc;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.client-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-heading {
    margin: 0;
}

.edit-button {
    font-size: 12px;
    background: none;
    border: none;
    color: #3498db;
    cursor: pointer;
    transition: color 0.3s ease;
}

.edit-button:hover {
    text-decoration: underline;
    color: #2980b9;
}

    </style>
</head>
<body>
        <div class="logout-btn">
            <a href="/logout">Logout</a>
        </div
<h1>Provider Table</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>House</th>
        <th>Street</th>
        <th>City</th>
        <th>Country</th>
        <th>Service</th>
        <th>Action</th>
    </tr>
    <% for(var i=0; i<provider.length;i++){ %>
    <tr>
        <td><%- provider[i].p_id%></td>
        <td><%- provider[i].p_name%></td>
        <td><%- provider[i].house %></td>
        <td><%- provider[i].street %></td>
        <td><%- provider[i].city %></td>
        <td><%- provider[i].country %></td>
        <td><%- provider[i].service %></td>
        <td>
            <a href="/delete-provider?id=<%- provider[i].p_id%>">Delete</a>
            <a href="/update-provider?id=<%- provider[i].p_id%>">Update</a>
        </td>
    </tr>
    <% } %>
 

</table>

</body>
</html>
